*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
header{
    color: black;
    background-color: grey;
    padding: 15px 15px 15px 50px;
    font-weight: bold;
    font-size: 1.5em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.menu{
    text-align: center;
    margin-top: 20px;
}
.container{
    background-color: grey;
    margin: 10px;
    margin-bottom: 15px;
}
.chicken{
    text-align: center;
    font-weight: bold;
    padding: 5px 0px 10px 0px;
}
.para{
    margin:0px 10px 0px 15px ;
    padding-bottom: 10px;
}

@media screen {
    
}
